<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Outfits Page</title>
</head>
<body>
    <h1>Hi, this is the homepage for my outfit's selection ;) </h1>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam amet beatae, culpa dolorem ea
        eligendi eum explicabo ipsum iure modi nemo neque nihil nostrum omnis provident suscipit totam,
        velit?</span><span>A aspernatur dicta ducimus ea enim eos fugiat inventore iusto magnam, magni maiores
        nostrum pariatur quisquam quod reprehenderit sapiente sint vitae! Accusamus doloribus hic id laudantium
        quae quis suscipit temporibus!</span><span>Ab ad adipisci architecto autem consequuntur ea, eaque earum
        eos error eum excepturi facere fugiat, impedit iure labore maiores omnis quisquam quos, saepe suscipit tenetur ullam
        ut voluptate! Ipsa, quibusdam!</span><span>Ducimus error esse impedit minus nihil omnis quod similique
        ullam velit voluptas. Animi fugiat nemo quis quos tenetur ullam ut voluptatum? Ad eaque esse nulla,
        perspiciatis praesentium unde ut vel.</span><span>Accusamus eos facilis illum neque perferendis? Dolorum
        illo nesciunt officiis praesentium ratione soluta temporibus voluptatem! Accusamus alias aperiam debitis
        ipsa nam nisi, obcaecati quaerat quibusdam, quo sapiente, sunt totam vero.</span><span>Dolore
        excepturi iste neque omnis tenetur? Aliquid, blanditiis consequuntur enim eveniet excepturi exercitationem, fugiat harum id
        laboriosam maxime nisi odit optio quae quisquam quos reprehenderit repudiandae saepe sapiente vero voluptates!
    </span><span>Architecto consequuntur deleniti dignissimos distinctio doloribus, ea earum error magni maiores
        maxime molestiae mollitia necessitatibus numquam obcaecati, praesentium ratione
        rerum sit vitae! Dolore eaque eveniet fugit nihil quo. Esse,
        explicabo.</span><span>Animi deserunt dolorem quos sequi voluptates!
        Accusamus excepturi mollitia perspiciatis praesentium saepe. Corporis dolores eum
        maxime mollitia odio quam quas sapiente sint? Eligendi facere itaque laborum mollitia
        nobis quibusdam repellat?</span><span>Accusantium aperiam assumenda beatae,
        consectetur, eius id ipsum numquam optio pariatur possimus quas, velit voluptas.
        Et eum explicabo illum ipsam laborum magnam molestiae nam, pariatur, repellat reprehenderit sit veniam vitae
        </span><span>Cumque dolor ducimus eaque et impedit provident repudiandae, rerum temporibus voluptatem voluptatum. Ad autem c
        umque cupiditate, enim, exercitationem explicabo illo illum, laboriosam maiores
        officiis perspiciatis quae quisquam repellat sequi tempore!</span></p>
</body>
</html>